/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* 1) Always force a scrollbar in non-IE 
   2) Remove iOS text size adjust without disabling user zoom: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html { overflow-y: scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
  
/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }



/*ul, ol { margin-left: 2em; }*/
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
b, strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements. 
      Firefox adds a 1px margin above and below textareas 
   3) Set font-size to match <body>'s, and font-family to sans-serif 
   4) Align to baseline */
button, input, select, textarea { width: auto; overflow: visible; margin: 0; font-size: 100%; font-family: sans-serif; vertical-align: baseline; }

/* 1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
   2) Align to text-top */
textarea { overflow: auto; vertical-align:text-top; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Remove extra padding and inner border in Firefox */
input::-moz-focus-inner,
button::-moz-focus-inner { border: 0; padding: 0; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #cccaac; color:#fff; text-shadow: none; }
::selection { background:#cccaac; color:#fff; text-shadow: none; }

/**
 * Primary styles
 *
 * Author: FARFANOIDE
 */

/* @override http://localhost/weinklause/css/style.css */

/*color palette
#2f2f2f
#e3ddd5
#f7f2ec
#ce3923
*/ 

/* general styles */
body:before { content: ""; position: fixed; top: -10px; left: 0; width: 100%; height: 10px; -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8); -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8); box-shadow: 0px 0px 10px rgba(0,0,0,.8); z-index: 100;
}
aside, nav, article, header, footer {
   display: block;
}
html{   	background: #f7f2ec ;   }body { 
	background: #E3DDD5; /* old browsers */	background: -moz-linear-gradient(top, #E3DDD5 0%, #F7F2EC 50%, #F7F2EC 100%); /* firefox */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E3DDD5), color-stop(50%,#F7F2EC), color-stop(100%,#F7F2EC)); /* webkit */	background: -webkit-linear-gradient(top, #E3DDD5 0%, #F7F2EC 50%, #F7F2EC 100%); /* new webkit */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E3DDD5', endColorstr='#F7F2EC',GradientType=0 ); /* ie */
}
.selected {
    color: #e53f27 ;
    text-decoration: underline;
    text-shadow: 0px 1px 1px black;
}
nav,
aside,
input,
footer {
    font-family: 'Nunito';
}
a, li{   -webkit-transition: all 0.2s linear;}
h2 {
   color: #2f2f2f;
   
}li {   list-style: none;}

/* =slidedeck stuff */
#slidedeck_frame {
	height: 290px;	clear: both;
-webkit-box-shadow: 0px 0px 15px hsla(0, 0%, 18%, 0.4);-moz-box-shadow: 0px 0px 15px hsla(0, 0%, 18%, 0.4);-o-box-shadow: 0px 0px 15px hsla(0, 0%, 18%, 0.4);box-shadow: 0px 0px 15px hsla(0, 0%, 18%, 0.4);} 
#slidedeck_frame h2 {
   color: gray;
   text-shadow: 0px 1px 0px #CFCFCF;   
}
dl.slidedeck {
	-moz-border-radius: 3px;  
 	-webkit-border-radius: 3px;  
	-o-border-radius: 3px;
	border-radius: 3px;
}dl dt.spine {   height: 15px;}
dl.slidedeck p {
color: gray;padding: 10px;
}
dl.slidedeck p#right {
float: right;
color: gray;
text-transform: uppercase;
width: 130px;
}
dl.slidedeck iframe {
float: left;
padding: 2px;margin-top: 10px;
}    
dl.slidedeck img {
width: 160px;
height: 120px;
-moz-border-radius: 3px;  
-webkit-border-radius: 3px;  
-o-border-radius: 3px;
border-radius: 3px;
border: 3px solid #f7f2ec;
float: left;
margin: 70px 5px 0px;
opacity: 0.6;
-webkit-transition: all 0.2s ease-in-out;
-webkit-transform: scale(1);
-moz-transition: all 0.2s ease-in-out;
-moz-transform: scale(1);
transition: all 0.2s ease-in-out;
transform: scale(1);

}
dl.slidedeck img:hover {
opacity: 1;
-moz-transform: scale(1.1);
-moz-transition: all 0.2s ease-in-out;
-webkit-transform: scale(1.1);
-webkit-transition: all 0.2s ease-in-out;
transform: scale(1.1);
transition: all 0.2s ease-in-out;
}
dl.slidedeck #zimmershow {
height: 200px;
display: inline;
}

/*=header*/

#headerWrap {
   background: #6e2614;
   background: url(../img/bg-wood.jpg) repeat-x;
	height: 147px;
	border-bottom: 1px solid gray;}

header h1 {
    float: left;
    text-indent: -99999px;
    background: url(../img/weinklause.png) no-repeat;
    margin-top: 48px; 
}
header h1 a {
	display: block;
    height: 65px;
    width: 233px;
}

/*=mainContent*/
#mainContentWraper {
    clear: both;
    padding: 30px 10px;
    overflow: hidden;}
/*=content*/
#content{
	overflow: hidden;
   background: #e3ddd5;
   padding: 15px;
   -moz-border-radius: 3px;  
   -webkit-border-radius: 3px;  
   -o-border-radius: 3px;
   border-radius: 3px;
   border: 3px solid white;
   -webkit-box-shadow: 0px 0px 3px 1px hsla(0, 0%, 18%, 0.4);
   -moz-box-shadow: 0px 0px 3px 1px hsla(0, 0%, 18%, 0.4);
   -o-box-shadow: 0px 0px 3px 1px hsla(0, 0%, 18%, 0.4);
   box-shadow: 0px 0px 3px 1px hsla(0, 0%, 18%, 0.4);
   behavior: url(PIE.htc);   margin-top: 30px;
   
}
#content article {
   font-family: verdana, arial, sans-serif;
   clear: both;
}
#content article img {
	-moz-border-radius: 3px;  
 	-webkit-border-radius: 3px;  
	-o-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid white ;
	float: left;
	margin-right: 20px;
	-webkit-box-shadow: 0px 1px 2px black;
	-moz-box-shadow: 0px 1px 2px black;
	-o-box-shadow: 0px 1px 2px black;
	box-shadow: 0px 1px 2px black;
	behavior: url(PIE.htc);	margin-bottom: 15px;
}
article h2 {
   border-bottom: 1px solid #2f2f2f;   font-family: 'Nunito';
}
#content article h2 a {
   color: #2f2f2f;
   text-decoration: none;
   font-size: 21px;
   text-shadow: 0px 1px 0px white;   margin-bottom: 10px;
}
#content article p {
   font-size: 11px;
   max-width: 245px;
	float: right;
	padding-right: 10px;
}
#content article h6 {
   background: #ce3923;
   font-size: 12px;
   font-weight: normal;
   margin-left: 380px;
  	-moz-border-radius: 3px;  
 	-webkit-border-radius: 3px;  
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #f0eae4;
	padding: 1px ;
	text-shadow: 0px 1px 0px black;
	box-shadow: inset 0px 0px 5px 2px rgba(47, 47, 47, 0.2);	margin-top: 5px;	margin-bottom: 5px;
}
#content h6 a {
	color: #f0eae4;
}

/* menu */

nav {
   float: right;
   margin: 0;
   margin-right: 20px;
   padding: 0;
   border: 1px solid  #292929;
   margin-top: 57px;
	-moz-border-radius: 3px;  
 	-webkit-border-radius: 3px;  
	-o-border-radius: 3px;
	border-radius: 3px;
	font-size: 20px;}
nav ul {
   	-moz-border-radius: 5px;  
 	-webkit-border-radius: 5px;  
	-o-border-radius: 5px;
	border-radius: 5px;
}
nav li a, nav li {
   float: left;
}
nav li {
   list-style: none;
   position: relative;
}
nav li a {
   	padding: 0.5em 1em;
	text-decoration: none;
    color: #e3ddd5;
    text-shadow: 0px 1px 1px black;
	background: rgba(47, 47, 47, 0.6) ;
}
nav li a:hover {
    color: #e53f27;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;}

/*submenu */
nav li ul {
   padding: 0;
   margin: 0;
   display: none;
   position: absolute;
   left: 0;
   top: 100%;
	border: 1px solid #292929;
}
nav li:hover ul{
   display: block;
}
nav li ul li, nav li ul li a{
   float: none;
}
nav li ul li {
   _display: inline; /*for IE6*/
}
nav li ul li a {
   width: 160px;
   display: block;
   border-bottom: 1px solid #292929;
   border-top: 1px solid rgba(196, 196, 196, 0.2);
	padding: 0.3em 0.5em;
}
nav li ul li a:hover {
	background: rgba(47, 47, 47, 1);}
nav li ul li a:active {
	box-shadow:inset 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
/*=banner*/
#bannerWrap {
   background: #1c1c1c url(../back-tile.png) repeat;
   border-bottom: 1px solid #2f2f2f;
   padding:10px 30px;
   -webkit-box-shadow: inset 0px 0px 15px 2px black;
   -o-box-shadow: inset 0px 0px 15px 2px black;
   -moz-box-shadow: inset 0px 0px 15px 2px black;
   box-shadow: inset 0px 0px 15px 2px black;
}

/*=aside*/
aside {
   float: right;
    background: #e3ddd5; /*old browsers*/
    min-height: 390px;
   -webkit-box-shadow: 0px 0px 3px 1px hsla(0, 0%, 18%, 0.4) inset;   -moz-box-shadow: 0px 0px 3px 1px hsla(0, 0%, 18%, 0.4) inset ;   -o-box-shadow: 0px 0px 3px 1px hsla(0, 0%, 18%, 0.4) inset;   box-shadow: 0px 0px 3px 1px hsla(0, 0%, 18%, 0.4) inset ;   behavior: url(PIE.htc);    padding-bottom: 3px;
   -moz-border-radius: 5px;  
 	-webkit-border-radius: 5px;  
	-o-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0px 1px 0px white;
	font-size: 18px;
   margin-top: 30px;}
	aside p { 
	padding: 15px 15px 0px;
}
input#search {
   width: 190px;
	font-size: 14px;
	background: #f7f2ec url(../img/search.png) top right no-repeat;
	line-height: 22px;  
	margin-bottom: 5px;
}aside ul {   margin: 10px 0px;}
aside ul a {
   padding: 15px;
}
aside ul li,
aside ul a {
    list-style: inside;
    color: #2f2f2f;
    text-decoration:none;
    text-shadow: 0px 1px 0px white;
}
aside + ul {
          border-bottom: 1px solid #2f2f2f;
}
aside ul li {
   border-bottom:1px solid gray ;
   border-top: 1px solid #f7f2ec;
   padding: 5px;
}
aside ul li:first-child {
   border-top: none;
}
 aside ul li a:hover {
    color: #f7f2ec;
    	text-shadow: 0px 1px 0px #2f2f2f;
}
aside ul li:hover{
  background: #e8e3dd;
   background: hsla(0, 0%, 18%, 0.4);
   color: #f7f2ec;
	border-top: 1px solid transparent;
   -webkit-box-shadow: inset 0px 0px 10px 2px gray;
   -moz-box-shadow: inset 0px 0px 3px gray;   
   box-shadow: inset 0px 0px 8px 1px gray;   
   -webkit-transition: all 0.1s ease-in-out;
   -moz-transition: all 0.1s ease-in-out;
   -o-transition: all 0.1s ease-in-out;
   transition: all 0.1s ease-in-out;
}

/*=footer*/
#footerWrap {   height: 170px;
   padding-top: 10px;
   clear: both;
  	font-family: 'Nunito';
  	font-size: 14px;  	background: #6e2614;  	background: url(../img/bg-wood-foot.jpg) bottom left  repeat-x;
  	overflow: hidden;
  	color: white;
}zfooter ul{}
footer p {
	-moz-border-radius: 3px;  
 	-webkit-border-radius: 3px;  
	-o-border-radius: 3px;
	border-radius: 3px;
    background: rgba(47,47,47,.3);
	padding:3px; 
	border: 1px solid rgba(0,0,0,0.3);  
	text-shadow: 0px 1px 1px black ;	margin: 5px 10px;
	clear: left;
}
footer a {
   	color: #f7f2ec;
   	text-decoration: none;
   	clear: both;
}
footer #copyright {
	float: left;
}
footer #farfan{
	float: right;
}

/*form*/
footer textarea {
	width: 100%;
	float: right;
	border: 1px solid rgba(0,0,0,0.3);  
	-moz-border-radius: 3px;  
	-webkit-border-radius: 3px;  
	-o-border-radius: 3px;
	border-radius: 3px;
	background: rgba(47,47,47,.3);

	
}
input{
	width: 100%;
	border: 1px solid rgba(0,0,0,0.3);  
	-moz-border-radius: 3px;  
	-webkit-border-radius: 3px;  
	-o-border-radius: 3px;
	border-radius: 3px;
	background: rgba(47,47,47,.3);
	
}
footer input {
	clear: both;
}
/*buchung */
.buchung #content{   background: white;}


  ::-webkit-scrollbar {
      width: 8px;
  }
  
  ::-webkit-scrollbar:horizontal {
      display: none;
  }
          
  ::-webkit-scrollbar-track {
      margin-top: 20px;
      margin-bottom: 20px;
      border-width: 21px 0;
      margin-left: -50px;
  }

  ::-webkit-scrollbar-track:disabled {
      display: none;
  }

  ::-webkit-scrollbar-thumb {
      border-width: 19px 0;
      min-height: 40px;
      opacity: 0.6;
      background:#666;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
  }
  
  button{
  	background:#e3ddd5 ;
  }
/*social*/
#social {

}
#social ul {
	margin-top: 5px;
	-moz-border-radius: 3px;  
	-webkit-border-radius: 3px;  
	-o-border-radius: 3px;
	border-radius: 3px;
	background: rgba(47,47,47,.3);
	padding:5px; 
	border: 1px solid rgba(0,0,0,0.3);  
	overflow: hidden;
	width: 67px;
}#social li{   list-style: none;   float: left;
}#social a {   display: block;   margin: 0px 3px;   height: 16px;    width: 16px;   -moz-border-radius: 2px;  	-webkit-border-radius: 2px;     -o-border-radius: 2px;   border-radius: 2px;   -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.3) ;   -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.3) ;   box-shadow: 0px 0px 20px rgba(255,255,255,0.3) ;   -webkit-transition: all 0.2s linear;   opacity: 0.5;}#social a:hover {   opacity: 1;   -webkit-box-shadow: 0px 0px 15px rgba(255,255,255,0.8) ;   -moz-box-shadow: 0px 0px 15px rgba(255,255,255,0.8) ;   box-shadow: 0px 0px 15px rgba(255,255,255,0.8) ;}#rss             {background: url(../img/sprite.gif) 0px -18px no-repeat;}#rss:hover       {background: url(../img/sprite.gif) 0 0 no-repeat;}#facebook        {background: url(../img/sprite.gif) 0px -54px no-repeat;}#facebook:hover  {background: url(../img/sprite.gif) 0px -36px no-repeat;}#skype           {background: url(../img/sprite.gif) 0px -90px no-repeat;}#skype:hover     {background: url(../img/sprite.gif) 0px -72px no-repeat;}#flickr          {background: url(../img/sprite.gif) 0px -126px no-repeat;}#flickr:hover    {background: url(../img/sprite.gif) 0px -108px no-repeat;}#deviant         {background: url(../img/sprite.gif) 0px -162px no-repeat;}#deviant:hover   {background: url(../img/sprite.gif) 0px -144px no-repeat;}



/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/**
 * Placeholder media queries for responsive design. Modify as design requires.
 * These follow after, and will override, the primary ('mobile first') styles
 * The closing /mediaquery comment is required by respond.js min/max-width Media Query polyfill
 */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}/*/mediaquery*/

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}/*/mediaquery*/



/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}